

.container {    
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--bg-gradient);
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

.recuperar-form {
   display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;
  background: #1a1625; /* var(--bg-card) */
  border: 1px solid #2e2643;
  border-radius: 1.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 0.5rem;
    color: var(--text-main);
    text-align: center;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

p.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 2rem;
    font-size: 0.875rem;
}

.form-group {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
}

.form-label {
   margin-bottom: 0.5rem;
    font-weight: 500;
    color: #f3f4f6;
    font-size: 0.875rem;
}

.recuperar-form input {
  padding: 0.75rem 1rem;
    border: 1px solid #2e2643;
    border-radius: 0.5rem;
    background-color: #241e33;
    color: #f3f4f6;
    transition: all 0.2s;
    font-size: 1rem;
}

.recuperar-form input:focus {
   border-color: #747bff;
    box-shadow: 0 0 0 4px rgba(116, 123, 255, 0.15);
    outline: none;
}

.btn-primario {
    background-color: #7603b9 !important;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s;
}

.btn-primario:hover {
   background-color:¨#7603b9 ;
    transform: translateY(-1px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-primario:active {
    transform: translateY(0);
}

.erro-mensagem {
   background-color: #cb9de6 !important; 
    color: #b91c1c;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    border: 1px solid #7603b9 !important;
    text-align: center;
}


.links-uteis {
   color: #7603b9 !important;
    margin-top: 1.5rem;
    display: flex;          
    flex-direction: column; 
    gap: 0.75rem;           
    align-items: center;       
}

.links-uteis a {
    display: inline-block; 
    text-decoration: none;  
    color: #7603b9 !important;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.2s;
}

.links-uteis a:hover {
    opacity: 0.8;           
    text-decoration: underline; 
}