 td.positivo{
    color: green !important;
}

td.negativo{
    color: red !important;
}

.btn-delete{
    style="padding: 0.3rem 0.6rem;
     font-size: 0.8rem; 
     color: #ff4d4d;
     border: 1px solid #ff4d4d;
     background: transparent;
       cursor: pointer; 
        border-radius: 4px; 
        transition: all 0.3s;
}